.place__image {
  grid-area: image;
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  margin: 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .place__image {
    width: 340px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    width: 460px;
  }
}
