.footer__columns {
  max-width: 186px;
  margin: 0;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__columns {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }
}
