.intro-main {
  max-width: 100%;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1024px) {
  .intro-main {
    padding: 0;
    max-width: 984px;
    margin: 0 auto;
  }
}
