.intro-main {
  max-width: 100%;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .intro-main {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 929px) {
  .intro-main {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .intro-main {
    max-width: 984px;
  }
}
