.place__paragraph {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-width: 1024px) {
  .intro {
    font-size: 18px;
    line-height: 29px;
  }
}
