.place__paragraph_type_top {
  grid-area: paragraph_top;
  margin-top: 32px;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .place__paragraph_type_top {
      margin: 0;
      padding: 0;
  }
}
