.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  max-width: 159px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding: 0;
  }
}
