.footer {
  max-width: 100%;
  padding-left: 16px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 88px;
    padding-right: 24px;
    padding-left: 24px;

  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 92px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (min-width: 1281px) {
  .footer {
    max-width: 1184px;
    margin: 0 auto;
  }
}
