.footer__menu-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .footer__menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
